<div class="container-fluid page-wrapper row">
  <div class="col-md-3 mt-3 ml-3">
    <div class="slide-pannel section-background">
      <h2 class="pannel-heading">Bulk Upload Application</h2>
      <div class="user-info-wrapper">
        <ul class="user-info mt-3 mb-3">
          <li><div class="user-icon">LS</div></li>
          <li class="user-info-container">
            <div class="user-name-wrapper">
              <h4 class="user-name">Lotta Schneider</h4>
              <span class="user-designation">Administrator</span>
            </div>
            <span class="material-icons icon-position"> more_vert </span>
          </li>
        </ul>
      </div>
      <!-- <div class="user-info-wrapper">
        <div class="user-info">
          <div class="user-icon">LS</div>
          <div class="user-name-wrapper">
            <h4 class="user-name">Lotta Schneider</h4>
            <span class="user-designation">Administrator</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="col-md-9">
    <div class="dashboard-section">
      <div class="header-section">
        <div class="screen-heading-wrapper">
          <h1 class="screen-heading">Hierarchy</h1>
          <p class="sub-heading">organization Account Hierarchy</p>
        </div>
        <div class="block-wrapper">
          <div class="blocks c-account-block">
            <span class="acount-icon c-account-color">C</span>
            <div class="info-wrapper">
              <h4 class="account-count">17</h4>
              <span class="account-name">C Accounts</span>
            </div>
          </div>
          <div class="blocks">
            <span class="acount-icon S-account-color">S</span>
            <div class="info-wrapper">
              <h4 class="account-count">45</h4>
              <span class="account-name">S Accounts</span>
            </div>
          </div>
          <div class="blocks">
            <span class="acount-icon K-account-color">K</span>
            <div class="info-wrapper">
              <h4 class="account-count">147</h4>
              <span class="account-name">K Accounts</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
